@charset "uft-8";

body {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.intro {
    width: 100%;
    height: 0vh;
    background-color: #76daf0;
    position: absolute;
    bottom: 0;
    animation: sea 4s ease-in-out infinite;

    /* opacity: .4;
    position: absolute;
    bottom: 0;
    background: #0af;
    width: 2000px;
    height: 2000px;
    left: 0;
    transform-origin: 50% 48%;
    border-radius: 43%;

    transition-duration: 0.75s;
    transition-property: margin-bottom;
    transition-timing-function: ease;
    animation: rotate 2000ms infinite linear; */
}

/* @keyframes rotate {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); } */

@keyframes sea {

    0%,
    100% {
        clip-path: polygon(0% 6%, 8% 5%, 16% 5%, 23% 6%, 29% 8%, 36% 10%, 43% 11%, 51% 11%, 58% 9%, 64% 7%, 72% 6%, 81% 7%, 88% 10%, 95% 13%, 100% 15%, 100% 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(0 12%, 7% 10%, 15% 9%, 23% 10%, 30% 12%, 36% 12%, 43% 10%, 51% 8%, 58% 7%, 65% 7%, 72% 8%, 80% 11%, 87% 12%, 93% 11%, 100% 9%, 100% 100%, 0% 100%);
    }
}

.intro_text {
    position: absolute;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
}

.intro_text .me {
    width: 230px;
    text-align: left;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
    height: 26px;
    float: left;
}

.intro_text .web{
    font-size: 25px;
    text-align: center;
    cursor: default;
    width: 200px;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 30%;
    /* transform: translateX(-40%); */
    transition: 1s;
}

.intro_text .web1 {
    /* position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-40%, 0); */
    transform: rotateX(0deg);
}

.intro_text .web2 {
    /* position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-40%, 0); */
    top: 50%;
    transform: rotateX(270deg);
}

.intro_text .web3 {
    /* position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-40%, 0); */
    transform: rotateX(180deg);
}

.intro_text .web4 {
    /* position: absolute;
    top: 300%;
    left: 50%;
    transform: translate(-40%, 0); */
    top: -50%;
    transform: rotateX(90deg);
}

.intro_text div {
    position: absolute;
    top: 93%;
    left: 50%;
    font-size: 20px;
    transform: translateX(-50%);
}

.intro_text .about {
    border-bottom: 1px solid #222;
}

.intro_text .about::after {
    content: '';
    display: block;
    width: 1px;
    height: 50px;
    background-color: #222;
    position: absolute;
    left: 50%;
    margin-left: -1px;
}

.me,
.go {
    display: none;
}