@charset "UTF-8";

/* ----------공통--------- */

#wrap {
    width: 100%;
    /* min-width: 1280px; */
    font-family: 'Noto Sans KR', sans-serif;
}

.inner {
    width: 1240px;
    margin: 0 auto;
}

/* ---------header navi-------- */

header .navi {
    height: 150px;
    position: relative;
}

header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 1000;
}

header nav .navi_1 {
    position: absolute;
    z-index: 100;
    width: 48%;
}

header nav .navi_2 {
    position: absolute;
    z-index: 100;
    width: 8%;
    right: 17%;
}

header .bg_white {
    width: 100%;
    height: 310px;
    background-color: #fff;
    position: absolute;
    z-index: 10;
    top: -310px;
    transition: all .5s;
}

header nav:hover~.bg_white {
    top: 0px;
}

header .left_menu>li {
    font-size: 15px;
    float: left;
    line-height: 150px;
    width: 120px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

header .second_menu>li {
    font-size: 15px;
    float: right;
    line-height: 150px;
    width: 120px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

header .sub_menu li a {
    display: block;
    width: 120px;
    line-height: 50px;
    font-weight: normal;
    background-color: #fff;
    font-size: 15px;
    text-align: center;
}

header .over{
    position: absolute;
    top: 100px;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

header .sub_menu {
    position: absolute;
    top: -200px;
    z-index: 100;
    transition: all .5s;
}

header .left_menu:hover .sub_menu,
header .second_menu:hover .sub_menu {
    top: 0px;
}

header .right_menu {
    line-height: 150px;
    position: absolute;
    right: 10px;
    z-index: 1000;
}

header .right_menu .icon {
    float: left;
    margin-right: 30px;
}

header .right_menu .icon:hover img {
    width: 150%;
}

header nav .sub_menu .under {
    padding-bottom: 3px;
    border-bottom: 2px solid rgba(138, 196, 121, 0);
    transition: all 0.5s;
}

header nav .sub_menu li a:hover .under {
    border-bottom: 2px solid rgba(138, 196, 121, 1);
}

/* ----------main meun----------- */

main .main_menu{
    margin-top: 170px;
    font-size: 20px;
}

main .main_menu li{
float: left;
width: 309px;
text-align: center;
margin-bottom: 100px;
border-right: 1px solid #111;
}

main .main_menu li:last-child{
    border-right: 0px;
}

main .main_menu li span{
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(138, 196, 121, 0);
    transition: all .5s;
}

main .main_menu li:hover span{
    border-bottom: 2px solid rgba(138, 196, 121, 1);
}

/* -----------main contents----------- */

main .main_contents{
    font-size: 18px;
}

main .main_contents li{
float:left;
margin-right: 20px;
margin-bottom: 50px;
cursor: pointer;
}

main .main_contents li:nth-child(4), 
main .main_contents li:nth-child(8){
    margin-right: 0px;
}

main .main_contents .name{
    margin-top: 10px;
}

main .main_contents .price{
    margin-top: 10px;
    font-size: 23px;
}

main .main_contents .black{
    width: 295px;
    height: 213px;
    background-color: rgba(2,2,2,0);
    position: absolute;
    color: #fff;
    font-size: 22px;
    text-align: center;
    transition: all .5s;
}

main .main_contents .more{
    padding-top: 50px;
    display: none;
}

main .main_contents .more p{
    margin-top: 20px;
}

main .main_contents li:hover .black{
    background-color: rgba(2,2,2,.6);
}

main .main_contents li:hover .more{
    display: block;
}

/* ------------main page-------------- */

main .page{
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    margin-bottom: 30px;
}

main .page_btn{
    margin: 0px 20px;
}

/* -----------footer------------ */

footer{
    width: 100%;
    height: 100px;
    background-color: #555;
    color: #fff;
    padding-top: 18px;
}

footer .add{
    margin-right: 30px;
}

footer .rep_1{
    margin-right: 15px;
}

footer .rep_2{
    margin-right: 20px;
}

/* -----------aside------------- */
    aside .popup{
        width: 400px;
        height: 300px;
        background-color: #fff;
        z-index: 100000;
        position: fixed;
        top: 50%;
        left:50%;
        transform: translateY(-50%) translateX(-50%);
        visibility: visible;
        color: rgb(5, 5, 5);
        text-align: center;
        font-size: 20px;
        border-radius: 20px;
        background-color: rgb(219, 241, 136);
    }
    
    aside .popup .caution{
        font-size: 25px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    aside .popup .pop{
        margin-bottom: 20px;
    }
    
    aside .popup .sub_{
        margin-bottom: 25px;
        color: rgb(190, 48, 38);
        font-weight: bold;
    }
    
    aside input{
        display: none;
    }
    
    aside .popup label{
    margin-left: 320px;
    }
    
    aside .popup label span{
        cursor: pointer;
    }
    
    aside input[id=btn]:checked ~ .popup{
        visibility: hidden;
    }